In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/NOUHAILA/QLSAGIT/QLSA/optimals.csv")

In [3]:
df.groupby(["Problem","Algo"]).describe().to_csv("result.csv")

In [8]:
df

        Problem  run                 Algo  Optimal
0          gr17    3  QLSA epsilon_greedy   2167.0
1          gr17    7  QLSA epsilon_greedy   2090.0
2          gr17    1  QLSA epsilon_greedy   2147.0
3          gr17    8  QLSA epsilon_greedy   2103.0
4          gr17    4  QLSA epsilon_greedy   2090.0
...         ...  ...                  ...      ...
1795    swiss42   30  QLSA epsilon_greedy   1326.0
1796  ulysses16   30  QLSA epsilon_greedy   6859.0
1797  ulysses22   30  QLSA epsilon_greedy   7496.0
1798   berlin52   30                   SA   8431.0
1799    burma14   30                   SA   3754.0

[1800 rows x 4 columns]